<div class="content">
  <div>
    <mat-toolbar>
      <img src="../assets/dashboard.jpg" class="logo" routerLink="/home" />
      <span routerLink="/home">{{ title }}</span>
      <div class="buttons-container">
        <button
          mat-stroked-button
          *ngFor="let button of buttons"
          class="button"
          [routerLink]="button.link"
          routerLinkActive="active-button"
        >
          {{ button.label }}
        </button>
      </div>
    </mat-toolbar>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
  <!-- <footer>Ujinga</footer> -->
  <div class="footer">
    {{ footer }}
  </div>
</div>
