<mat-card>
  <mat-card-title>
    Takwimu za ugonjwa wa COVID-19 inchini Tanzania
  </mat-card-title></mat-card
>
<p>{{ myData.Countries[216] | json }}</p>
<div>
  <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-title>Jumla Ya Maambukizi</mat-card-title>
        <mat-card-content>{{
          myData.Countries[216].TotalConfirmed
        }}</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-title>Jumla Ya Vifo</mat-card-title>
        <mat-card-content>{{
          myData.Countries[216].TotalDeaths
        }}</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-title>Jumla Ya Waliopona</mat-card-title>
        <mat-card-content>{{
          myData.Countries[216].TotalRecovered
        }}</mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
